








.big_boi_button{
    width:40%;
    left: 50%; 
    -webkit-transform: translate(-50%, 0); 
    position: absolute;
    max-height: 15%;
}

#centered_alpha{
    left: 50%; 
    -webkit-transform: translate(-50%, 0); 
    position: absolute;

}

#mescontain{
    margin-top: 20%;
}

