
/*Some universal resets:*/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
 
html {    
    
/*    Making sure the background gradient works on all browsers:*/
/*
    background: -webkit-linear-gradient( lightblue, deepskyblue);
    background: -moz-linear-gradient( lightblue, deepskyblue);
    background: -ms-linear-gradient( lightblue, deepskyblue);
    background: -o-linear-gradient( lightblue, deepskyblue);
    
    background: linear-gradient( white,#f0fffd );
    background-repeat: no-repeat;
*/
    position: relative;
    height: 100%;
    font-size: 400%;
    height: 100%;
    background-color: darkgrey;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cancel_all{
    text-decoration: none;
    color:black;
    background-color: transparent;
}

    
head{
    height: 0px;
}   

/*START PAGE:*/



#explanation p {
    font-size: 50%;
    text-align: center;
    background-color: none;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}


#start{
    position: relative;
    text-align: center;
    left: 50%; 
    top: 20%; 
    transform: translate(-50%, -50%); /* to make sure that the anchor point is the middle of the text, not the top left corner */
    font-weight:500;
    font-size:100%;
}

/*
####################################################################
USERNAME PAGE ####################################################################*/
/*FORM STUFF:*/
.getsome{
/*    text-align: center;*/
    position: absolute;
     text-align: center;
     top: 50%;
     left: 50%; 
     transform: translate(-50%, -50%); /* to make sure that the anchor point is the middle of the text, not the top left corner */
    font-weight:500;
}

#username{
    padding: 1%;
    border: 2px solid black;
    background-color: white;
    height=500px;
    font-size: 50px;
}
#username:focus{
    outline:none;
}

button{
    font-size: 50%;
    background-color: transparent;
    border: 0px;
    border-radius: 15px;
    outline: None;
}

button:focus{
    background-color: black;
}

button:hover{
    background-color: black;
    color:white;
}

button a:hover{
    color:white;
}



/*NAVBAR STUFF:*/
/*NAVBAR LINE:*/
#navcontainer{
    border-bottom: black solid 3px;
    height:50px;
    padding-bottom: 1%;    
}


/*NAVBAR LINKS::*/
#navcontainer li a {
    color: black;
    text-decoration: none;
    padding-top: 1%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    font-size: 50%;
    float:left;

    padding-bottom: 1%;

}


/* mouse over link */
#navcontainer a:hover {
  background-color: red;
    color:white;
}

#navcontainer ul{

    list-style: none;
    padding: 0;
    height:1px;
}



#please_work{
    background-color: transparent;
}


/*FAQ PAGE*/
section{
    width:100%;
    height: 100 vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faqpage{
    background-color: darkgrey !important;
    

}
.containing_q{
    width:100%;
    max-width: 75rem;
    padding:0 1.5rem;
    
    
}

.title{
    text-align: center;
}
.expansion{
    background-color: yellow;
    background-color: lightgray;
    padding:0.2rem;
    margin-bottom: 0.5rem;
    margin-top:0.5rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
}


.expand_link{
    font-size: 0.5rem;
    color:rgba(255,255,255,0.8);
    text-decoration: none;
    background-color: #607080;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height:1.1rem;
    padding-left: 1%;

}



.expand_link i{
    position:relative;
    color:coral;
    padding:0.45rem;
    text-align: center;
    padding-top: 2%;
}

.expand_link .opened{
    display: none;
}

.qtext{
    font-size: 80%;
    text-align: center;
    padding-top: 2%;
}

.qanswer::before{
    content:"";
    position:absolute;
    width: 0.05rem;
    height:90%;
    background-color: black;
    

    top:50%;
    left:0;
    transform: translateY(-50%);
    
}

.qanswer{
    font-size: 0.6rem;
/*    The following is done, so that we cannot see the answer. It makes it so that the answer does not display on the screen.*/
    
    max-height: 0rem;
    overflow: hidden;
    position:relative;
    background-color: transparent;
    transition: 600ms;
    
}


.qanswer p{
    color:black;
    font-size: 0.4rem;
    padding: 0.1rem;
}



.expansion:target .qanswer{
    max-height: 1rem;
    
}



/* ABOUT US PAGE:*/

.slogan{
    background-color: #d9d9d9;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 639px) {
    html{
            background-color: black;
            position: relative;
            height: 100%;
            font-size:800%;
    }
    
    button{
        
    position:relative;
    
    font-size: 70%;
    background-color: lavender;
    border: 0px;
    border-radius: 15px;
    outline: None;
}
    
    #navcontainer{
        border-bottom: black solid 3px;
        height:75px;

    }

    #explanation{
        font-size: 120px;
    }
    
    
}